In [1]:
import numpy as np
import pandas as pd
from scipy.stats import binom

In [16]:
outpath = "/scratch/PI/horence/JuliaO/single_cell/SZS_pipeline2/notebooks/output/Paper_numbers/"

## number of cells analyzed in each individual and technology

In [2]:
datanames = ["HLCA4_P2_10x_with_postprocessing_lung","HLCA4_P3_10x_with_postprocessing_lung","HLCA_smartseq_P2_with_postprocessing_shared","HLCA_smartseq_P3_with_postprocessing_shared"]
datatypes = ["10x","10x","ss2","ss2"]
individuals = ["P2","P3","P2","P3"]
ind_dict = {x : 0 for x in individuals}
tech_dict = {x : 0 for x in datatypes}
ontologies = set()
total = 0
tech_med_dict = {x : [] for x in datatypes}
for i in range(len(datanames)):
  df = pd.read_parquet("/scratch/groups/horence/JuliaO/single_cell/SZS_pipeline2/data/{}.pq".format(datanames[i]),columns=["cell","free_annotation","compartment","geneR1A_uniq"])
#   df["cell_gene"] = df["cell"] + df["geneR1A_uniq"]
  
#   df = df.drop_duplicates("cell_gene")
  df["ontology"] = df["compartment"] + df["free_annotation"]
  num_cells = df["cell"].nunique()
  print("{:,} cells {} {}, {} ontologies".format(num_cells,datatypes[i],individuals[i],df["ontology"].nunique()))
  print("median genes per cell: {:,}".format(df.groupby("cell")["geneR1A_uniq"].nunique().median()))
  tech_med_dict[datatypes[i]] += list(df.groupby("cell")["geneR1A_uniq"].nunique())
  ontologies = set.union(ontologies, set(df["ontology"].unique()))
  ind_dict[individuals[i]] += num_cells
  tech_dict[datatypes[i]] += num_cells
  total += num_cells
print()
for key, val in ind_dict.items():
  print("{}: {:,}".format(key,val))
print()
for key, val in tech_dict.items():
  print("{}: {:,}".format(key,val)) 
print()
print("total cells: {:,}".format(total))
print("total number ontologies:",len(ontologies))

print()

for key, value in tech_med_dict.items():
  print("{}: {:,}".format(key,np.median(value)))

28,793 cells 10x P2, 39 ontologies
median genes per cell: 931.0
24,676 cells 10x P3, 50 ontologies
median genes per cell: 883.0
4,217 cells ss2 P2, 31 ontologies
median genes per cell: 1,513.0
2,836 cells ss2 P3, 33 ontologies
median genes per cell: 1,819.0

P2: 33,010
P3: 27,512

10x: 53,469
ss2: 7,053

total cells: 60,522
total number ontologies: 57

10x: 912.0
ss2: 1,660.0

## Number of cells/genes with computable SpliZ

In [3]:
datanames = ["HLCA4_P2_10x_with_postprocessing_lung","HLCA4_P3_10x_with_postprocessing_lung","HLCA_smartseq_P2_with_postprocessing_shared","HLCA_smartseq_P3_with_postprocessing_shared"]
datatypes = ["10x","10x","ss2","ss2"]
individuals = ["P2","P3","P2","P3"]
tech_med_dict = {x : [] for x in datatypes}
tech_genes = {x : set() for x in datatypes}
for i in range(len(datanames)):
  df = pd.read_parquet("/scratch/PI/horence/JuliaO/single_cell/SZS_pipeline2/scripts/output/rijk_zscore/{}_sym_SVD_normdonor_S_0.1_z_0.0_b_5.pq".format(datanames[i]),columns=["cell","geneR1A_uniq"])
  print(datanames[i],df.groupby("cell")["geneR1A_uniq"].nunique().median())
  tech_med_dict[datatypes[i]] += list(df.groupby("cell")["geneR1A_uniq"].nunique())
  ser = df.groupby("geneR1A_uniq")["cell"].nunique()
  ser = ser[ser >= 10]
  print("{:,} genes".format(ser.shape[0]))
  tech_genes[datatypes[i]].update(ser.index)
for key, value in tech_med_dict.items():
  print("median genes per cell {}: {:,}".format(key,np.median(value)))
  
for key, value in tech_genes.items():
  print("num genes >= 10 {}: {}".format(key, len(value)))

HLCA4_P2_10x_with_postprocessing_lung 60.0
1,599 genes
HLCA4_P3_10x_with_postprocessing_lung 74.0
1,415 genes
HLCA_smartseq_P2_with_postprocessing_shared 782.0
10,876 genes
HLCA_smartseq_P3_with_postprocessing_shared 881.0
9,795 genes
median genes per cell 10x: 67.0
median genes per cell ss2: 833.0
num genes >= 10 10x: 1754
num genes >= 10 ss2: 11640

## called genes by the SpliZ, SpliZVD

In [8]:
inpath = "/scratch/PI/horence/JuliaO/single_cell/SZS_pipeline2/scripts/output/variance_adjusted_permutations/"
# datanames = ["HLCA4_P2_10x_with_postprocessing_lung","HLCA4_P3_10x_with_postprocessing_lung","HLCA_smartseq_P2_with_postprocessing_shared","HLCA_smartseq_P3_with_postprocessing_shared"]
# datanames = ["HLCA4_P2_10x_with_postprocessing_lung","HLCA4_P3_10x_with_postprocessing_lung"]
datanames = ["HLCA4_P2_10x_with_postprocessing_lung","HLCA4_P3_10x_with_postprocessing_lung","HLCA_smartseq_P2_with_postprocessing_shared","HLCA_smartseq_P3_with_postprocessing_shared","HLCA4_P2_10x_with_postprocessing_lung_shuffle","HLCA4_P3_10x_with_postprocessing_lung_shuffle","HLCA4_P2_10x_with_postprocessing_lung_lungimmuneMacrophage_10","HLCA4_P3_10x_with_postprocessing_lung_lungimmuneMacrophage_10"]

# suffixes = ["","_shuffle","_lungimmuneMacrophage_10"]

# datanames = ["TSP1_10x_with_postprocessing_nopanc_cellann","TSP2_10x_rerun_with_postprocessing_3prime_cellann","TS_pilot_smartseq_with_postprocessing_nopanc_cellann","TSP2_SS2_RUN1_RUN2_cellann"]
suffixes = [""]

In [9]:
z_cols = ["scZ","svd_z0"]
out_dict = {x : [] for x in z_cols}
out_dict_frac = {x : [] for x in z_cols}
out_dict["dataname"] = []
out_dict_frac["dataname"] = []
eigen_thresh = .9
gene = "PPP1R12A"
out_string = ""
for dataname in datanames:
  out_string += dataname + "\n"
  for suffix in suffixes:
    out_dict["dataname"].append(dataname + suffix)
    out_dict_frac["dataname"].append(dataname + suffix)
    print(dataname + suffix)
    df = pd.read_csv("{}{}{}_pvals_100_S_0.1_z_0.0_b_5.tsv".format(inpath,dataname,suffix),sep="\t")
    
    df["f0+f1"] = df["f0"] + df["f1"]

    for z_col in z_cols:
      print(z_col)
      if z_col == "svd_z1":
        out_dict[z_col].append(df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0"] < eigen_thresh)]["geneR1A_uniq"].nunique())
        out_dict_frac[z_col].append(df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0"] < eigen_thresh)]["geneR1A_uniq"].nunique()/df["geneR1A_uniq"].nunique())
        display(df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0"] < eigen_thresh)].sort_values("max_abs_median_" + z_col).tail(10)[["geneR1A_uniq","num_onts","perm_pval_adj_" + z_col, "max_abs_median_" + z_col]])
#         df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0"] < eigen_thresh)].to_csv("{}{}{}{}_sig.tsv".format(outpath,dataname,suffix,z_col),sep="\t",index=False)
        out_string += "{} {} in {}\n".format(z_col,gene,gene in df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0"] < eigen_thresh)]["geneR1A_uniq"].unique())

      elif z_col == "svd_z2":
        out_dict[z_col].append(df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0+f1"] < eigen_thresh)]["geneR1A_uniq"].nunique())
        out_dict_frac[z_col].append(df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0+f1"] < eigen_thresh)]["geneR1A_uniq"].nunique()/df["geneR1A_uniq"].nunique())
        display(df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0+f1"] < eigen_thresh)].sort_values("max_abs_median_" + z_col).tail(10)[["geneR1A_uniq","num_onts","perm_pval_adj_" + z_col, "max_abs_median_" + z_col]])
#         print(gene," in",gene in df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0+f1"] < eigen_thresh)]["geneR1A_uniq"].unique())
#         df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0+f1"] < eigen_thresh)].to_csv("{}{}{}{}_sig.tsv".format(outpath,dataname,suffix,z_col),sep="\t",index=False)

        out_string += "{} {} in {}\n".format(z_col,gene,gene in df[(df["perm_pval_adj_" + z_col] < 0.05) & (df["f0+f1"] < eigen_thresh)]["geneR1A_uniq"].unique())

      else:
        out_dict[z_col].append(df[df["perm_pval_adj_" + z_col] < 0.05]["geneR1A_uniq"].nunique())
        out_string += "{} {} in {}\n".format(z_col,gene,gene in df[(df["perm_pval_adj_" + z_col] < 0.05) ]["geneR1A_uniq"].unique())
#         df[(df["perm_pval_adj_" + z_col] < 0.05) ].to_csv("{}{}{}{}_sig.tsv".format(outpath,dataname,suffix,z_col),sep="\t",index=False)

#         print(gene," in",gene in df[df["perm_pval_adj_" + z_col] < 0.05]["geneR1A_uniq"].unique())
        out_dict_frac[z_col].append(df[df["perm_pval_adj_" + z_col] < 0.05]["geneR1A_uniq"].nunique()/df["geneR1A_uniq"].nunique())
        print("top 100 genes",list(df[df["perm_pval_adj_" + z_col] < 0.05].sort_values("max_abs_median_" + z_col)[["geneR1A_uniq","num_onts","perm_pval_adj_" + z_col, "max_abs_median_" + z_col]]["geneR1A_uniq"].tail(100)))
        display(df[df["perm_pval_adj_" + z_col] < 0.05].sort_values("max_abs_median_" + z_col).tail(10)[["geneR1A_uniq","num_onts","perm_pval_adj_" + z_col, "max_abs_median_" + z_col]])
out_df = pd.DataFrame.from_dict(out_dict)
out_frac = pd.DataFrame.from_dict(out_dict_frac)

HLCA4_P2_10x_with_postprocessing_lung
scZ
top 100 genes ['ZFAS1', 'RPL36A-HNRNPH2', 'S100A6', 'CD163', 'C19orf33', 'SNHG6', 'LYAR', 'RARRES1', 'PSMB2', 'HCST', 'RPL5', 'VIM', 'RPL27A', 'CMC1', 'BLVRB', 'MICOS10-NBL1', 'CCL20', 'CD63', 'JPT1', 'TXNDC17', 'S100A13', 'GMFG', 'SRSF5', 'CAST', 'YBX1', 'TMEM147', 'CYBA', 'HSP90AA1', 'HNRNPDL', 'UQCRB', 'SERF2-C15ORF63', 'GSPT1', 'ZBTB8OS', 'NDUFB3', 'CARD16', 'CP', 'NAP1L1', 'LGALS3', 'ATP5MC3', 'ITM2B', 'CALM1', 'RPAIN', 'CKLF-CMTM1', 'SRSF7', 'RPL41', 'MZT2B', 'COX4I1', 'AREG', 'ATP5MG', 'KRTCAP2', 'TMC5', 'DECR1', 'ATP5PO', 'PPFIBP1', 'HSP90B1', 'PLIN2', 'ECH1', 'CTSC', 'ARPC3', 'HNRNPA1', 'ARPC2', 'ELOC', 'RBM39', 'ARHGAP18', 'AUP1', 'SOD2', 'RPS7', 'CIRBP', 'ETHE1', 'CALD1', 'ARID4B', 'PQBP1', 'AKAP13', 'ISG20', 'PRMT1', 'SEC61G', 'ARL6IP1', 'SOD1', 'RWDD1', 'CAPG', 'LTA4H', 'MORF4L1', 'CHCHD2', 'NASP', 'LMNA', 'LRRFIP2', 'REEP3', 'RPL17', 'CD47', 'RPN2', 'NOP56', 'THYN1', 'unknown_chr7_67900000', 'SNHG8', 'SCGB1A1', 'PPP1R12A', 'MYL6', 'RPS24', 'LMO7', 'ATP5F1C']

              geneR1A_uniq  num_onts  perm_pval_adj_scZ  max_abs_median_scZ
4                    NOP56         4             0.0000            0.810319
180                  THYN1         2             0.0000            0.891720
190  unknown_chr7_67900000         4             0.0245            0.893863
161                  SNHG8        13             0.0000            0.907007
44                 SCGB1A1        16             0.0000            0.997250
12                PPP1R12A         2             0.0000            1.054181
37                    MYL6        39             0.0000            1.258683
61                   RPS24        39             0.0000            1.372058
24                    LMO7         2             0.0000            1.874982
140                ATP5F1C        22             0.0000            2.648506

svd_z0
top 100 genes ['RPS25', 'MORF4L1', 'RAB2A', 'ATP5PD', 'RPL24', 'SLTM', 'HLA-DQA1', 'CALD1', 'RPL23', 'ITM2B', 'VIM', 'RPL30', 'PTMA', 'CCDC91', 'NDUFAF3', 'SAT1', 'HPGD', 'MYL6', 'UXT', 'CIAO2B', 'GAS5', 'IFI30', 'S100A13', 'PSME2', 'COX7C', 'RPN2', 'PRDX5', 'PLIN2', 'FABP4', 'TPM2', 'LGALS1', 'NDUFB8', 'NAP1L1', 'ARHGAP18', 'RPS13', 'RPS8', 'RPL28', 'NASP', 'CAST', 'RPS27A', 'ATP5F1C', 'RBM39', 'RPS15A', 'RACK1', 'BPIFB1', 'POLR2I', 'RPSA', 'PFDN5', 'LRRFIP1', 'RPS12', 'AREG', 'PSMB7', 'TCIRG1', 'RPL27A', 'DEK', 'MGST3', 'RPL35A', 'HSP90AA1', 'NOP56', 'DNAJC15', 'RNF130', 'LGALS3', 'SELENOH', 'ATP5MC3', 'IGFBP7', 'RPS19', 'CALM1', 'RPS6', 'RPL10A', 'S100A6', 'CYBA', 'TPT1', 'DECR1', 'TBCA', 'S100A9', 'CLU', 'RPLP2', 'TYROBP', 'RPS3', 'BLOC1S1-RDH5', 'RPS7', 'CD63', 'TXN', 'KRTCAP2', 'POMP', 'SCGB1A1', 'RPS4X', 'MARCO', 'ANXA1', 'LCN2', 'MT1E', 'RPL12', 'RPS2', 'UBA52', 'RPS14', 'SCGB3A2', 'RPL13A', 'RPL17', 'FTL', 'SCGB3A1']

    geneR1A_uniq  num_onts  perm_pval_adj_svd_z0  max_abs_median_svd_z0
571         MT1E        18                   0.0               5.671791
731        RPL12        39                   0.0               5.708614
754         RPS2        39                   0.0               5.957620
109        UBA52        39                   0.0               6.878262
59         RPS14        39                   0.0               7.027029
779      SCGB3A2         5                   0.0               7.084992
80        RPL13A        39                   0.0               7.735757
82         RPL17        39                   0.0               8.841513
166          FTL        39                   0.0               9.722942
32       SCGB3A1        14                   0.0              46.593897

HLCA4_P3_10x_with_postprocessing_lung
scZ
top 100 genes ['SPARCL1', 'RPS27L', 'CIRBP', 'KMT2E', 'RPL3', 'ISG20', 'PLEKHA5', 'NDUFA4', 'SRSF5', 'NDUFB8', 'CLU', 'AREG', 'SEC61G', 'CD74', 'RPS3', 'LY96', 'CTNNAL1', 'HNRNPDL', 'TPT1', 'ATP5MC3', 'GMFG', 'SNRPB', 'ATP5PD', 'CIAO2B', 'MGST3', 'S100A13', 'RPS7', 'HNRNPA1', 'FAM183A', 'TYROBP', 'DPP7', 'KYNU', 'MAP4K1', 'EIF3G', 'TMEM258', 'ERGIC3', 'CAST', 'LTA4H', 'PLTP', 'BLVRB', 'ARL6IP1', 'HCST', 'ECSCR', 'GSTP1', 'ERLEC1', 'PSMB1', 'DECR1', 'TMEM147', 'TREM1', 'EMP3', 'CHCHD2', 'MNDA', 'SOD1', 'MICOS10-NBL1', 'COX5B', 'CAPG', 'RPL38', 'WFDC21P', 'LYAR', 'FTL', 'EMP2', 'NDUFAF3', 'JPT1', 'LGALS3', 'CMC1', 'ARPC2', 'MSRA', 'CD63', 'IFT57', 'COX4I1', 'KRTCAP2', 'ITM2B', 'AUP1', 'ATP5PO', 'NDUFS2', 'SCGB1A1', 'DBI', 'SRSF7', 'CRNDE', 'ATP5MG', 'UQCRB', 'LMNA', 'DAD1', 'THYN1', 'METTL26', 'RPL4', 'RPN2', 'ARPC3', 'RWDD1', 'FYB1', 'NUPR1', 'CD55', 'PRMT1', 'RPS24', 'CD47', 'MYL6', 'PPP1R12A', 'CIR1', 'ANXA1', 'ATP5F1C']

    geneR1A_uniq  num_onts  perm_pval_adj_scZ  max_abs_median_scZ
45         NUPR1        10                0.0            1.083976
163         CD55         4                0.0            1.159876
52         PRMT1         6                0.0            1.175785
97         RPS24        43                0.0            1.182912
162         CD47        20                0.0            1.209776
32          MYL6        48                0.0            1.321093
50      PPP1R12A         3                0.0            1.744816
114         CIR1         3                0.0            1.777411
141        ANXA1        30                0.0            2.085256
148      ATP5F1C        29                0.0            2.890178

svd_z0
top 100 genes ['VIM', 'PTMA', 'GMFG', 'PPP1R12A', 'NAP1L1', 'MRPL52', 'PSMA3', 'SOD2', 'ARPC2', 'MYL6', 'RPL30', 'EIF3K', 'DEK', 'RPL10', 'ATP5PD', 'RPS15A', 'RPL23', 'PRDX5', 'HSPB11', 'RAB2A', 'RPL24', 'AREG', 'CAST', 'CIRBP', 'CLU', 'APRT', 'RDX', 'LGALS1', 'GAS5', 'RPS13', 'CYBA', 'TPRKB', 'MGST3', 'FABP4', 'RPL18', 'RPL28', 'TPM2', 'SCGB1A1', 'HSP90AA1', 'S100A13', 'ATP5F1C', 'RACK1', 'NDUFB8', 'ARL6IP1', 'NDUFA4', 'KYNU', 'FCGRT', 'RPL35A', 'RPS8', 'MICOS10-NBL1', 'GSTO1', 'RPS23', 'TPT1', 'RPL4', 'NOP53', 'RPS27L', 'BPIFB1', 'RPL27A', 'NASP', 'ITM2B', 'RPS12', 'ANXA1', 'LY96', 'CD63', 'AGR2', 'TBCA', 'S100A9', 'KRTCAP2', 'RPS19', 'PIP', 'SCGB3A2', 'RPS7', 'TYROBP', 'LMNA', 'GSTP1', 'IGFBP7', 'SELENOH', 'CXCL17', 'RPLP2', 'DBI', 'FXYD3', 'EMP2', 'RPSA', 'BLOC1S1-RDH5', 'MARCO', 'TXN', 'RPS3', 'CAPG', 'LCN2', 'RPS14', 'RPL12', 'RPS6', 'UBA52', 'RPL13A', 'RPL17', 'POMP', 'RPS4X', 'RPL13', 'unknown_chr22_22900000', 'FTL']

,geneR1A_uniq,num_onts,perm_pval_adj_svd_z0,max_abs_median_svd_z0
692,RPL12,49,0.0,6.911378
103,RPS6,49,0.0,6.999754
75,UBA52,48,0.0,7.170003
8,RPL13A,49,0.0,8.008816
9,RPL17,47,0.0,8.238390
633,POMP,26,0.0,8.728288
102,RPS4X,49,0.0,9.233596
7,RPL13,48,0.0,10.601019
858,unknown_chr22_22900000,2,0.0,10.656320
196,FTL,48,0.0,10.935376

HLCA_smartseq_P2_with_postprocessing_shared
scZ
top 100 genes ['ENDOV', 'PRKCH', 'BAALC', 'CYGB', 'HP1BP3', 'BNIP2', 'MYO6', 'ADGRF5', 'RRBP1', 'CALD1', 'RPL23AP82', 'PRKCE', 'KIAA1217', 'EOGT', 'RWDD3', 'TSTD3', 'CASP3', 'ELK3', 'CTSC', 'PARD3', 'PTK2', 'MSH3', 'OSBPL6', 'HDGFL3', 'ADHFE1', 'CTNND1', 'SPECC1', 'TAGLN', 'unknown_chr12_56200000', 'SCLT1', 'RPP38', 'FAM13A', 'PLD3', 'TNPO3', 'SLC20A2', 'TSPAN5', 'DGUOK', 'DISP1', 'MNAT1', 'STIMATE', 'MYLK', 'PMPCB', 'TPD52L2', 'CHD9', 'SOCS2', 'ADD3', 'BCL6', 'C1orf52', 'LOC105376392', 'TP53TG1', 'RNMT', 'unknown_chr8_15800000', 'BOLA3', 'CFLAR-AS1', 'PHF21A', 'SNX14', 'L3HYPDH', 'ZNF271P', 'INF2', 'ABHD5', 'EBPL', 'BIN1', 'TTC17', 'RCSD1', 'MGME1', 'ZMYND12', 'CD4', 'TXNDC11', 'PNKP', 'unknown_chr2_85700000', 'RASSF1', 'STXBP1', 'IMMP1L', 'MRPL33', 'TNPO1', 'TOMM34', 'MPRIP', 'PRPF6', 'BUB3', 'ADAR', 'EXOC7', 'RPL17-C18orf32', 'RAB9A', 'TMC5', 'AHNAK', 'SPACA9', 'HTRA1', 'OAS3', 'FBLN5', 'CBX5', 'RNASEH1', 'ANXA6', 'PHYKPL', 'LRIF1', 'RGS3', 'NUDT16L1', 'ACTA2', 'unknown_chr10_76600000', 'ABO', 'HYAL2']

               geneR1A_uniq  num_onts  perm_pval_adj_scZ  max_abs_median_scZ
7                   RNASEH1        10                0.0            2.785129
412                   ANXA6         9                0.0            3.002470
264                  PHYKPL        14                0.0            3.073023
243                   LRIF1         4                0.0            3.186091
2                      RGS3         7                0.0            3.272411
150                NUDT16L1         9                0.0            3.333638
374                   ACTA2         7                0.0            3.508714
349  unknown_chr10_76600000         4                0.0            3.737628
368                     ABO         4                0.0            3.992588
44                    HYAL2        13                0.0            4.046205

svd_z0
top 100 genes ['NOP58', 'NT5C3A', 'MGAT4A', 'CCND3', 'PARK7', 'RAC1', 'LUC7L', 'IDH3G', 'UBE2D2', 'FAM49B', 'SGK1', 'AK2', 'MGLL', 'OSCP1', 'TBXAS1', 'PMP22', 'GRAMD2B', 'PSAP', 'BPIFB1', 'TYW3', 'CFDP1', 'ECHDC2', 'HSP90AA1', 'STARD3NL', 'PRPF40A', 'EIF4A1', 'CLUAP1', 'RAB13', 'FMC1-LUC7L2', 'IRF9', 'CD55', 'PCNP', 'FRMD4B', 'unknown_chr10_76600000', 'LRRC23', 'IQCG', 'ANXA11', 'VRK2', 'GTF3A', 'MYL6', 'HSPB11', 'LINC00680', 'ARFGAP2', 'EZR', 'PHF11', 'UBE2D3', 'IMMP2L', 'DNAJC1', 'UFD1', 'NOSTRIN', 'CRBN', 'FDPS', 'HERPUD1', 'LAP3', 'CCT5', 'FCGRT', 'LMNA', 'DNAJC17', 'IK', 'SURF1', 'RGS3', 'CLK1', 'TCF7L2', 'NTHL1', 'ENY2', 'PSME2', 'ANXA7', 'RNF130', 'TMEM59', 'TNFSF10', 'SERPING1', 'APLP2', 'MRPS21', 'LRIF1', 'NACA', 'XRCC6', 'TPM1', 'IL32', 'RPLP0', 'ABO', 'HPGD', 'CD4', 'CAPG', 'PSMA3', 'SPACA9', 'NMI', 'CNOT2', 'KIF5B', 'CFAP36', 'S100A6', 'HYAL2', 'ACTA2', 'ANXA1', 'TRNAU1AP', 'CALM2', 'PRR13', 'EIF3K', 'PSME1', 'CTSH', 'SCGB3A1']

     geneR1A_uniq  num_onts  perm_pval_adj_svd_z0  max_abs_median_svd_z0
44          HYAL2        13                   0.0               5.042499
374         ACTA2         7                   0.0               5.071773
1492        ANXA1        16                   0.0               5.144976
6224     TRNAU1AP        10                   0.0               5.186632
1892        CALM2        20                   0.0               5.666718
4823        PRR13        14                   0.0               5.709547
2660        EIF3K        16                   0.0               6.146071
4869        PSME1        18                   0.0               6.262060
2331         CTSH        10                   0.0               7.476342
5331      SCGB3A1         5                   0.0              11.678761

HLCA_smartseq_P3_with_postprocessing_shared
scZ
top 100 genes ['CTNND1', 'NFAT5', 'HNRNPF', 'ANKRD10', 'C12orf76', 'KIAA1217', 'RRBP1', 'ARL16', 'SGMS1', 'FTO', 'unknown_chr10_78000000', 'ZNF207', 'XAF1', 'RWDD2B', 'LAMP2', 'NDUFB1', 'PLEKHA1', 'unknown_chr8_98000000', 'WWOX', 'ARHGEF1', 'ANAPC13', 'unknown_chr12_54300000', 'SYNE1', 'DHRS4', 'HIRIP3', 'ZDHHC1', 'PLD3', 'DGUOK', 'TCIRG1', 'OSBPL1A', 'RERE', 'MPND', 'HS1BP3', 'NDUFV3', 'TMEM11', 'PSMA3-AS1', 'SORBS2', 'LPIN1', 'GOLGA8B', 'KNOP1', 'AP2M1', 'NFATC1', 'APOL1', 'METTL26', 'PDZD2', 'MPDU1', 'TMEM164', 'ZNF271P', 'CCZ1P-OR7E38P', 'CALD1', 'SOCS2', 'CLIC5', 'ACTA2', 'PKIG', 'ITGAE', 'EBPL', 'PDE4D', 'RPARP-AS1', 'CDHR3', 'PSPC1', 'DENND10', 'RPAIN', 'SPTBN1', 'ADD3', 'P4HA2', 'C12orf29', 'LOC105376392', 'MRPL33', 'unknown_chr12_56200000', 'NBAS', 'RNF146', 'PARP2', 'unknown_chr10_26800000', 'PEX19', 'SVIL', 'LIMCH1', 'MTUS1', 'ARL4A', 'HOOK2', 'GOLGA2', 'RAB9A', 'ANXA6', 'HP1BP3', 'TLE5', 'IL16', 'RIPK2', 'EXOC7', 'SPECC1', 'TNFAIP8', 'PUS3', 'RGS3', 'FGF7', 'AKAP12', 'USP12', 'CORO1B', 'MGAT1', 'LRIF1', 'DDX39A', 'FBLN5', 'CCDC50']

    geneR1A_uniq  num_onts  perm_pval_adj_scZ  max_abs_median_scZ
259         RGS3        10                0.0            2.807419
110         FGF7         3                0.0            2.902732
197       AKAP12         4                0.0            2.929596
90         USP12         4                0.0            3.055775
45        CORO1B        11                0.0            3.330518
120        MGAT1         6                0.0            3.331783
130        LRIF1         3                0.0            3.440675
67        DDX39A         8                0.0            3.752157
117        FBLN5         6                0.0            4.415848
217       CCDC50         4                0.0            5.067508

svd_z0
top 100 genes ['ODF2L', 'CHKB', 'SPARCL1', 'EFEMP1', 'RIPK2', 'OCIAD1', 'MTIF3', 'EIF4A2', 'RPS5', 'LRRC23', 'ARHGAP15', 'SVIL', 'RARRES1', 'EXOC7', 'MFF', 'CFLAR', 'LAS1L', 'HAT1', 'CREM', 'UFSP2', 'UBA52', 'FAM204A', 'ARHGAP18', 'CD44', 'SPECC1', 'CRYZL1', 'RPS24', 'RAD23A', 'MRPL55', 'PSAP', 'CYBA', 'MCUB', 'PRPF40A', 'HNRNPUL2-BSCL2', 'STXBP6', 'FGF7', 'RNASET2', 'LRRFIP1', 'CAV1', 'ZDHHC3', 'PCMTD1', 'VPS29', 'FCGRT', 'TMEM87A', 'AREG', 'LMNA', 'USP12', 'ELN', 'MICOS10-NBL1', 'MYL6', 'CORO1B', 'SUPT3H', 'CCT4', 'PPP1R7', 'RPS3', 'CFDP1', 'LAMTOR4', 'FTO', 'MTG1', 'PPHLN1', 'NSMCE1', 'CD55', 'PRMT2', 'CARHSP1', 'WARS1', 'TNFSF10', 'LIMCH1', 'TPM1', 'SAT1', 'SNX5', 'NOL3', 'STARD3NL', 'RTN4', 'TMEM59', 'LRIF1', 'GUK1', 'IFT57', 'KANK3', 'PSME1', 'NSMCE4A', 'FBLN5', 'ACOT9', 'MGAT1', 'RPLP0', 'BST2', 'RACK1', 'GAPDH', 'IL32', 'CAPG', 'RPL15', 'ACTA2', 'RGS3', 'GSTP1', 'GSN', 'EIF3K', 'CCDC50', 'CTSH', 'ARPC2', 'SERPING1', 'S100A6']

     geneR1A_uniq  num_onts  perm_pval_adj_svd_z0  max_abs_median_svd_z0
188         ACTA2         9                   0.0               4.361990
259          RGS3        10                   0.0               4.539948
2426        GSTP1        18                   0.0               4.762930
75            GSN        16                   0.0               4.887717
2034        EIF3K        17                   0.0               4.945893
217        CCDC50         4                   0.0               5.079606
1745         CTSH         9                   0.0               5.128431
1083        ARPC2        17                   0.0               5.224307
4350     SERPING1        16                   0.0               6.088493
4246       S100A6        19                   0.0               7.091399

HLCA4_P2_10x_with_postprocessing_lung_shuffle
scZ
top 100 genes ['CPVL']

  geneR1A_uniq  num_onts  perm_pval_adj_scZ  max_abs_median_scZ
0         CPVL        15                0.0            0.403909

svd_z0
top 100 genes ['LAMP2', 'unknown_chr17_KI270857v1_alt_200000', 'ANKRD20A11P', 'NBN', 'LRRIQ1', 'REEP3']

,geneR1A_uniq,num_onts,perm_pval_adj_svd_z0,max_abs_median_svd_z0
5,LAMP2,4,0.0,0.209391
16,unknown_chr17_KI270857v1_alt_200000,3,0.0,0.335764
93,ANKRD20A11P,4,0.0,1.994709
596,NBN,7,0.0,2.176162
511,LRRIQ1,4,0.0,2.180242
38,REEP3,5,0.0,2.741715

HLCA4_P3_10x_with_postprocessing_lung_shuffle
scZ
top 100 genes ['CAMTA1', 'ATP5MC1', 'CHCHD5']

  geneR1A_uniq  num_onts  perm_pval_adj_scZ  max_abs_median_scZ
1       CAMTA1         2                0.0            0.272344
0      ATP5MC1        17                0.0            0.340011
2       CHCHD5         4                0.0            0.386025

svd_z0
top 100 genes ['COX4I2', 'ZBTB8OS', 'AKAP13', 'SRI', 'CLU', 'RPS23', 'LAMTOR4']

    geneR1A_uniq  num_onts  perm_pval_adj_svd_z0  max_abs_median_svd_z0
194       COX4I2         8                   0.0               1.472730
886      ZBTB8OS        24                   0.0               1.970091
59        AKAP13         5                   0.0               2.115077
779          SRI        39                   0.0               2.355258
10           CLU        35                   0.0               2.775055
7          RPS23        48                   0.0               3.363248
389      LAMTOR4         8                   0.0               4.859258

HLCA4_P2_10x_with_postprocessing_lung_lungimmuneMacrophage_10
scZ
top 100 genes []

Empty DataFrame
Columns: [geneR1A_uniq, num_onts, perm_pval_adj_scZ, max_abs_median_scZ]
Index: []

svd_z0
top 100 genes ['RAB13', 'NUPR1', 'LY75-CD302']

    geneR1A_uniq  num_onts  perm_pval_adj_svd_z0  max_abs_median_svd_z0
484        RAB13        10                   0.0               1.732683
1          NUPR1        10                   0.0               3.016532
316   LY75-CD302        10                   0.0               3.058669

HLCA4_P3_10x_with_postprocessing_lung_lungimmuneMacrophage_10
scZ
top 100 genes []

Empty DataFrame
Columns: [geneR1A_uniq, num_onts, perm_pval_adj_scZ, max_abs_median_scZ]
Index: []

svd_z0
top 100 genes ['LOC101928215', 'UBE2D2', 'CD163', 'HPGDS']

     geneR1A_uniq  num_onts  perm_pval_adj_svd_z0  max_abs_median_svd_z0
31   LOC101928215         7                   0.0               1.488937
11         UBE2D2        10                   0.0               2.143626
107         CD163        10                   0.0               2.690212
242         HPGDS         2                   0.0               2.760181

In [10]:
num_genes = out_df[["dataname"] + z_cols]
num_genes

                                            dataname  scZ  svd_z0
0              HLCA4_P2_10x_with_postprocessing_lung  207     135
1              HLCA4_P3_10x_with_postprocessing_lung  219     142
2        HLCA_smartseq_P2_with_postprocessing_shared  606     641
3        HLCA_smartseq_P3_with_postprocessing_shared  336     361
4      HLCA4_P2_10x_with_postprocessing_lung_shuffle    1       6
5      HLCA4_P3_10x_with_postprocessing_lung_shuffle    3       7
6  HLCA4_P2_10x_with_postprocessing_lung_lungimmu...    0       3
7  HLCA4_P3_10x_with_postprocessing_lung_lungimmu...    0       4

In [11]:
frac_genes = out_frac[["dataname"] + z_cols]
frac_genes

                                            dataname       scZ    svd_z0
0              HLCA4_P2_10x_with_postprocessing_lung  0.228225  0.148842
1              HLCA4_P3_10x_with_postprocessing_lung  0.254060  0.164733
2        HLCA_smartseq_P2_with_postprocessing_shared  0.088545  0.093659
3        HLCA_smartseq_P3_with_postprocessing_shared  0.059989  0.064453
4      HLCA4_P2_10x_with_postprocessing_lung_shuffle  0.000900  0.005401
5      HLCA4_P3_10x_with_postprocessing_lung_shuffle  0.003344  0.007804
6  HLCA4_P2_10x_with_postprocessing_lung_lungimmu...  0.000000  0.004093
7  HLCA4_P3_10x_with_postprocessing_lung_lungimmu...  0.000000  0.006250

In [13]:
name_dict = {x : y for x, y in zip(datanames, ["Ind 1 10x", "Ind 2 10x", "Ind 1 SS2 shared", "Ind 2 SS2 shared","Ind 1 shuffle", "Ind 2 shuffle", 
                                               "Ind 1 macrophage", "Ind 2 macrophage"])}

In [24]:
out = num_genes.merge(frac_genes,on="dataname")
out["dataset"] = out["dataname"].map(name_dict)
out = out.rename(columns={"scZ_x" : "# sig by SpliZ", "svd_z0_x" : "# sig by SpliZVD", "scZ_y" : "frac sig by SpliZ", "svd_z0_y" : "frac sig by SpliZVD"})
out = out[["dataset","# sig by SpliZ","frac sig by SpliZ",  "# sig by SpliZVD","frac sig by SpliZVD"]].round(3)
out.to_csv("{}Supp_Table2.csv".format(outpath),index=False)
out

,dataset,# sig by SpliZ,frac sig by SpliZ,# sig by SpliZVD,frac sig by SpliZVD
0,Ind 1 10x,207,0.228,135,0.149
1,Ind 2 10x,219,0.254,142,0.165
2,Ind 1 SS2 shared,606,0.089,641,0.094
3,Ind 2 SS2 shared,336,0.060,361,0.064
4,Ind 1 shuffle,1,0.001,6,0.005
5,Ind 2 shuffle,3,0.003,7,0.008
6,Ind 1 macrophage,0,0.000,3,0.004
7,Ind 2 macrophage,0,0.000,4,0.006

In [7]:
datanames

['HLCA4_P2_10x_with_postprocessing_lung',
 'HLCA4_P3_10x_with_postprocessing_lung',
 'HLCA4_P2_10x_with_postprocessing_lung_shuffle',
 'HLCA4_P3_10x_with_postprocessing_lung_shuffle',
 'HLCA4_P2_10x_with_postprocessing_lung_lungimmuneMacrophage_10',
 'HLCA4_P3_10x_with_postprocessing_lung_lungimmuneMacrophage_10',
 'HLCA_smartseq_P2_with_postprocessing_shared',
 'HLCA_smartseq_P3_with_postprocessing_shared']

## Intersection of genes called as significant

In [16]:
genes = ["CD47","TPM2","PPP1R12A"]
datanames = []
# genes = ["CD47"]
suffix = ""
datanames = ["HLCA4_P2_10x_with_postprocessing_lung","HLCA4_P3_10x_with_postprocessing_lung","HLCA_smartseq_P2_with_postprocessing_shared","HLCA_smartseq_P3_with_postprocessing_shared"]

z_cols = ["scZ","svd_z0"]
for dataname in datanames:
  print(dataname)
#   out_string += dataname + "\n"

#   out_dict["dataname"].append(dataname + suffix)
#   out_dict_frac["dataname"].append(dataname + suffix)
#   print(dataname + suffix)
  df = pd.read_csv("{}{}{}_pvals_100_S_0.1_z_0.0_b_5.tsv".format(inpath,dataname,suffix),sep="\t")
  print("genes shared by SpliZ and SpliZVD: {}".format(df[(df["perm_pval_adj_scZ"] < 0.05) & (df["perm_pval_adj_svd_z0"] < 0.05)]["geneR1A_uniq"].nunique()))
  for gene in genes:
    print("gene: {}".format(gene))
    for z_col in z_cols:
      print("{}: {}".format(z_col,df[df["geneR1A_uniq"] == gene]["perm_pval_adj_"+ z_col].iloc[0]))
      df = df.sort_values("max_abs_median_" + z_col,ascending=False)
      df.reset_index(inplace=True,drop=True)
      print("rank: {}".format(df[df["geneR1A_uniq"] == gene].index[0]))
    print()
  #   break

HLCA4_P2_10x_with_postprocessing_lung
genes shared by SpliZ and SpliZVD: 88
gene: CD47
scZ: 0.0
rank: 12
svd_z0: 0.0
rank: 252

gene: TPM2
scZ: 0.0
rank: 266
svd_z0: 0.0
rank: 121

gene: PPP1R12A
scZ: 0.0
rank: 4
svd_z0: 0.0
rank: 387

HLCA4_P3_10x_with_postprocessing_lung
genes shared by SpliZ and SpliZVD: 91
gene: CD47
scZ: 0.0
rank: 5
svd_z0: 0.0
rank: 304

gene: TPM2
scZ: 0.0
rank: 204
svd_z0: 0.0
rank: 82

gene: PPP1R12A
scZ: 0.0
rank: 3
svd_z0: 0.0
rank: 164

HLCA_smartseq_P2_with_postprocessing_shared
genes shared by SpliZ and SpliZVD: 338
gene: CD47
scZ: nan
rank: 5256
svd_z0: nan
rank: 2531

gene: TPM2
scZ: nan
rank: 5065
svd_z0: 0.21977292576419236
rank: 245

gene: PPP1R12A
scZ: nan
rank: 2909
svd_z0: nan
rank: 3250

HLCA_smartseq_P3_with_postprocessing_shared
genes shared by SpliZ and SpliZVD: 192
gene: CD47
scZ: nan
rank: 3904
svd_z0: nan
rank: 670

gene: TPM2
scZ: nan
rank: 1687
svd_z0: nan
rank: 2376

gene: PPP1R12A
scZ: nan
rank: 1504
svd_z0: 0.0
rank: 2006

In [17]:
for individual in ["P2","P3"]:
  print(individual)
  tenx_df =  pd.read_csv("{}HLCA4_{}_10x_with_postprocessing_lung_pvals_100_S_0.1_z_0.0_b_5.tsv".format(inpath,individual),sep="\t")
  ss2_df =  pd.read_csv("{}HLCA_smartseq_{}_with_postprocessing_shared_pvals_100_S_0.1_z_0.0_b_5.tsv".format(inpath,individual),sep="\t")
  tenx_sig = set(tenx_df[(tenx_df["perm_pval_adj_scZ"] < 0.05) | (tenx_df["perm_pval_adj_svd_z0"] < 0.05)]["geneR1A_uniq"].unique())
  ss2_sig = set(ss2_df[(ss2_df["perm_pval_adj_scZ"] < 0.05) | (ss2_df["perm_pval_adj_svd_z0"] < 0.05)]["geneR1A_uniq"].unique())
  print("number significant 10x: {:,}".format(len(tenx_sig)))
  print("fraction significant 10x: {}".format(len(tenx_sig)/tenx_df.shape[0]))
  print("number signfiicant ss2: {:,}".format(len(ss2_sig)))
  print("fraction significant ss2: {}".format(len(ss2_sig)/ss2_df.shape[0]))
  
  print("{} intersection: {}".format(individual,len(tenx_sig.intersection(ss2_sig))))
  print("pvalue: {}".format(1 - binom.cdf(len(tenx_sig.intersection(ss2_sig)),tenx_df.shape[0],(len(tenx_sig)/tenx_df.shape[0])*(len(ss2_sig)/ss2_df.shape[0]))))
# 1 - binom.cdf(get_num_genes(df,True,True,True), df.shape[0], p_sig[0]*p_sig[1]*p_sig[2])

P2
number significant 10x: 254
fraction significant 10x: 0.28004410143329656
number signfiicant ss2: 909
fraction significant ss2: 0.13281706604324955
P2 intersection: 73
pvalue: 5.713001183238475e-10
P3
number significant 10x: 270
fraction significant 10x: 0.31322505800464034
number signfiicant ss2: 505
fraction significant ss2: 0.09016247098732369
P3 intersection: 46
pvalue: 2.1905508912567484e-05

## Concordance 10x vs 10x

In [10]:
df_P2 =  pd.read_csv("{}HLCA4_P2_10x_with_postprocessing_lung_pvals_100_S_0.1_z_0.0_b_5.tsv".format(inpath),sep="\t")
df_P3 =  pd.read_csv("{}HLCA4_P3_10x_with_postprocessing_lung_pvals_100_S_0.1_z_0.0_b_5.tsv".format(inpath),sep="\t")

In [32]:
P2_set = set(df_P2[df_P2["perm_pval_adj_scZ"] < 0.05]["geneR1A_uniq"].unique())
P3_set = set(df_P3[df_P3["perm_pval_adj_scZ"] < 0.05]["geneR1A_uniq"].unique())
print("spliz intersection: {}".format(len(P2_set.intersection(P3_set))))

spliz intersection: 136

In [33]:
P2_set2 = set(df_P2[df_P2["perm_pval_adj_svd_z0"] < 0.05]["geneR1A_uniq"].unique())
P3_set2 = set(df_P3[df_P3["perm_pval_adj_svd_z0"] < 0.05]["geneR1A_uniq"].unique())
print("splizVD intersection: {}".format(len(P2_set2.intersection(P3_set2))))

splizVD intersection: 81

In [34]:
len(P2_set2 - P2_set)

47

In [35]:
len(P3_set2 - P3_set)

51

In [13]:
P2_set = set(df_P2[(df_P2["perm_pval_adj_scZ"] < 0.05) | (df_P2["perm_pval_adj_svd_z0"] < 0.05)]["geneR1A_uniq"].unique())
P3_set = set(df_P3[(df_P3["perm_pval_adj_scZ"] < 0.05) | (df_P3["perm_pval_adj_svd_z0"] < 0.05) ]["geneR1A_uniq"].unique())
print("either intersection: {}".format(len(P2_set.intersection(P3_set))))

either intersection: 175

In [14]:
print("pvalue: {}".format(1 - binom.cdf(len(P2_set.intersection(P3_set)),df_P2.shape[0],(len(P2_set)/df_P2.shape[0])*(len(P3_set)/df_P3.shape[0]))))

pvalue: 1.1102230246251565e-16